body {
    background-color: #DC143C;
  }
p{
    background-color: white;
    height: 300px;
    width: 300px;
}
header {
    background-color: #DC143C;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
